.checkbox-rose .check {
    --size: 4vh;
    --color: rgba(255, 0, 84, 0.75);
    position: relative;
    background: linear-gradient(90deg, #ffbed3, #ff1762);
    line-height: 0;
    perspective: 30vh;
    font-size: var(--size);
}
.checkbox-green .check {
    --size: 4vh;
    --color: rgba(179, 255, 0, 0.75);
    position: relative;
    background: linear-gradient(90deg, #eeffb1, #d4ff17);
    line-height: 0;
    perspective: 30vh;
    font-size: var(--size);
}
.checkbox-face .checktxt{
    font-size: 3vh;
    transform: translateY(-1vh);
    display: inline-block;
    cursor: pointer;
}
.checkbox-face .check input[type="checkbox"],
.checkbox-face .check label,
.checkbox-face .check label::before,
.checkbox-face .check label::after,
.checkbox-face .check {
    appearance: none;
    display: inline-block;
    border-radius: var(--size);
    border: 0;
    transition: .35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.checkbox-face .check label {
    width: calc(2.2 * var(--size));
    height: var(--size);
    background: #d7d7d7;
    overflow: hidden;
}

.checkbox-face .check input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: calc(.8 * var(--size));
    height: calc(.8 * var(--size));
    top: calc(.1 * var(--size));
    left: calc(.1 * var(--size));
    background: linear-gradient(45deg, #dedede, #ffffff);
    outline: none;
    margin: 0;
}

.checkbox-face .check input[type="checkbox"]:checked {
    left: calc(1.3 * var(--size));
    -webkit-box-shadow: 0px 0px 2.5vh 1vh var(--color);
    -moz-box-shadow: 0px 0px 2.5vh 1vh var(--color);
    box-shadow: 0px 0px 2.5vh 1vh var(--color);
}

.checkbox-face .check input[type="checkbox"]:checked+label {
    background: transparent;
}

.checkbox-face .check label::before,
.checkbox-face .check label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: calc(.15 * var(--size));
    top: calc(.5 * var(--size));
    height: var(--size);
    letter-spacing: calc(-0.04 * var(--size));
    color: #9b9b9b;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: calc(.6 * var(--size));
    border-radius: 0;
    transform-origin: 0 0 calc(-0.5 * var(--size));
    backface-visibility: hidden;
}

.checkbox-face .check label::after {
    content: "●";
    top: calc(.65 * var(--size));
    left: calc(.2 * var(--size));
    height: calc(.1 * var(--size));
    width: calc(.35 * var(--size));
    font-size: calc(.2 * var(--size));
    transform-origin: 0 0 calc(-0.4 * var(--size));
}

.checkbox-face .check input[type="checkbox"]:checked+label::before,
.checkbox-face .check input[type="checkbox"]:checked+label::after {
    left: calc(1.55 * var(--size));
    top: calc(.4 * var(--size));
    line-height: calc(.1 * var(--size));
    transform: rotateY(360deg);
}

.checkbox-face .check input[type="checkbox"]:checked+label::after {
    height: calc(.16 * var(--size));
    top: calc(.55 * var(--size));
    left: calc(1.6 * var(--size));
    font-size: calc(.6 * var(--size));
    line-height: 0;
}